ul{
    list-style: none;
    padding: 0px;
}
li{
    float: left;
    padding: 10px;
}
body{
    background-image: url('fundo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
}

.claro{
    background-color: rgb(253, 253, 253);
    color: black;
}

nav{
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: black;
}

.margem{
    margin-left: 15px;
    margin-right: 15px;
}
button{
    border-radius: 10px; 
}
